In [16]:
import pandas as pd

a2q = pd.read_csv('/workspaces/TCGConv/Dataset/MathStack/sx-mathoverflow-a2q.txt', sep=' ', names= ['src', 'dst', 'time'])
c2a = pd.read_csv('/workspaces/TCGConv/Dataset/MathStack/sx-mathoverflow-c2a.txt', sep=' ', names= ['src', 'dst', 'time'])
c2q = pd.read_csv('/workspaces/TCGConv/Dataset/MathStack/sx-mathoverflow-c2q.txt', sep=' ', names= ['src', 'dst', 'time'])

In [17]:
a2q['edge_label'] = 0
c2q['edge_label'] = 1
c2a['edge_label'] = 2

In [18]:
math_data = pd.concat([a2q,c2q,c2a])
math_data = math_data.reset_index()[['src','dst','time','edge_label']]
math_data

          src    dst        time  edge_label
0           1      4  1254192988           0
1           3      4  1254194656           0
2           1      2  1254202612           0
3          25      1  1254232804           0
4          14     16  1254263166           0
...       ...    ...         ...         ...
506545  51484   3928  1457256235           2
506546   1840   1840  1457256378           2
506547  65995  39552  1457259545           2
506548  20031   1114  1457261526           2
506549  51428   1114  1457261724           2

[506550 rows x 4 columns]

In [19]:
math_data.to_csv("/workspaces/TCGConv/Dataset/MathStack/MathStack.csv")