In [1]:
import scipy.io
import pandas as pd
mat = scipy.io.loadmat('/workspaces/TCGConv/Dataset/YelpCHI/YelpChi.mat') 
mat
# net_rur = pd.DataFrame(mat['net_rur']).to_csv('/workspaces/TCGConv/Dataset/YelpCHI/net_rur.csv')

{'__header__': b'MATLAB 5.0 MAT-file Platform: posix, Created on: Wed Aug 19 20:09:02 2020',
 '__version__': '1.0',
 '__globals__': [],
 'homo': <45954x45954 sparse matrix of type '<class 'numpy.float64'>'
 	with 7693958 stored elements in Compressed Sparse Column format>,
 'net_rur': <45954x45954 sparse matrix of type '<class 'numpy.float64'>'
 	with 98630 stored elements in Compressed Sparse Column format>,
 'net_rtr': <45954x45954 sparse matrix of type '<class 'numpy.float64'>'
 	with 1147232 stored elements in Compressed Sparse Column format>,
 'net_rsr': <45954x45954 sparse matrix of type '<class 'numpy.float64'>'
 	with 6805486 stored elements in Compressed Sparse Column format>,
 'features': <45954x32 sparse matrix of type '<class 'numpy.float64'>'
 	with 1469088 stored elements in Compressed Sparse Column format>,
 'label': array([[0, 0, 0, ..., 0, 0, 0]])}

In [4]:
len(sum(mat['label']))

45954

In [5]:
sum(sum(mat['label']))

6677

In [6]:
lab = pd.read_csv('/workspaces/TCGConv/Dataset/YelpCHI/label.csv')
lab

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,45944,45945,45946,45947,45948,45949,45950,45951,45952,45953
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0